bin/*.dll
bin/*.exe
bin/*.exp
bin/*.ilk
bin/*.lib
bin/*.pdb
obj/
*db

example-shader/bin/*.dll
example-shader/bin/*.exe
example-shader/bin/*.exp
example-shader/bin/*.ilk
example-shader/bin/*.lib
example-shader/bin/*.pdb
example-shader/obj/
example-shader/*db

Makefile
Project.xcconfig
*.app/
config.make
openFrameworks-Info.plist
*.xcodeproj/

*.yaml
*.yml